@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');


.fixed_header{
    background-color: white;
    width: 100%;
    height: 6vh;
    border-radius: 20px;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    transition: all 0.3s ease;
    display: flex;
}

.expanded {
    width: 100%;
    height: 40vh;
    background-color: white;

}

.contract {
    width: 10%;
    height: 6vh;
    /*justify-content: center;*/
}


.header_icons{
    background-color: transparent;
    width: 185px;
    height: 40px;
    display:flex;
    justify-content: center;
    gap: 15px;
    padding-top: 13px;
}

.header_icons button:hover,
.header_icons button:focus {
    box-shadow: rgba(0, 0, 0, 0.1) 0 4px 12px;
}

.header_icons button:hover {
    transform: translateY(-1px);
}

.header_icons button:active {
    box-shadow: rgba(0, 0, 0, .06) 0 2px 4px;
    transform: translateY(0);
}


.hbtn1,
.hbtn2,
.hbtn3 {
    background-color: red;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    border: none;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

.hbtn2 {
    background-color: yellow;
}

.hbtn3 {
    background-color: greenyellow;
}

.hOptions {
    background-color: transparent;
    padding-top: 15px;
}